<% if can? :create, Language %>
  <%= link_to 'New language', new_language_path %>
<% end %>

<h1><%= @language.name %></h1>
<h2><%= @language.colour %></h2>

<%= image_tag(@language.language_image.medium.url) %>

<h3><%= @language.description %></h3>

<% if @language.documents.empty? == false %>
  <h3>List of documents for this Language:</h3>
    <ul>
      <% @language.documents.each do |document| %>
        <li><%= link_to document.name, document_path(document) %></li>
      <% end %>
    </ul>
<% else %>
  <h4>New documents for <%= @language.name %> to be added soon!</h4>
<% end %>

<% if can? :update, @language %>
  <%= link_to('Edit', edit_language_path(@language), method: :get) %>
<% end %>

<% if can? :destroy, @language %>
  <%= link_to('Delete', language_path(@language), method: :delete, data: {confirm: 'Delete this language? Are you sure?!'}) %>
<% end %>

<%= link_to 'Index', languages_path %>
<%= link_to 'Back', :back %>
